* {
    box-sizing: border-box;
}

:root {
    --primary-color-black-green: #143c3c;
    --primary-color-black: #152427;
    --secondary-color-light-green: #e2eddf;
    --secondary-color-blue: #83a17d;
    --secondary-color-gray: #6a8383;
    --text-color-black-gray: #575d5e;
    --text-color-white: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* !================== common selectors =================== */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    color: var(--primary-color-black, #152427);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.13; /* 112.5% */
}

.heading-2 {
    color: var(--primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.desc-for-heading-2 {
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.heading-3 {
    color: var(--primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.desc-for-heading-3 {
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    width: 173px;
    height: 57px;
    border-radius: 40px;
    background: var(--primary-color-black-green, #143c3c);
    color: var(--text-color-white, #fff);
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 57px;
}

.btn:hover {
    opacity: 0.8;
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* !================== header =================== */
.header {
    position: sticky;
    top: 0;
    margin-top: 20px;
    padding: 8px 0;
    z-index: 2;
    background-color: pink;
}

.header__container {
    display: flex;
    align-items: center;
}

.header-nav__list {
    display: flex;
    align-items: center;
    gap: 0 18px;
    margin-left: 396px;
}

.header-nav__link {
    padding: 10px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.header__cta {
    margin-left: auto;
}

/* !================== hero section =================== */
.hero {
    font-family: "Public Sans";
    padding: 66px 0 165px;
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__content {
    padding-top: 43px;
}

.hero__title {
    max-width: 374px;
    color: var(--primary-color-black, #152427);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    max-width: 341px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__cta-group {
    margin-top: 42px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.hero__watch-video-btn {
    display: flex;
    align-items: center;
    column-gap: 15px;
    background-color: transparent;
    height: 57px;
    padding: 0 5px;
    border-radius: 40px;
}

.hero__watch-video-btn:hover .partial-circle {
    transform: rotate(135deg);
}

.hero__watch-video-btn:hover .triangle-icon {
    transform: rotate(120deg);
}

.triangle-icon-wrapper {
    flex-shrink: 0;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #83a17d;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.partial-circle {
    position: absolute;
    height: 57px;
    width: 57px;

    border: 4px solid transparent;
    border-top: 4px solid var(--primary-color-black-green, #143c3c);
    border-left: 4px solid var(--primary-color-black-green, #143c3c);
    border-radius: 50%;
    transform: rotate(-45deg);
    transition: 0.6s ease;
}

.triangle-icon {
    transition: 0.6s ease;
}

.hero__watch-video-btn span {
    color: var(--primary-color-black);
    text-align: center;
    font-family: "Poppins";
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* ===== image block ===== */
.hero__img-block {
    position: relative;
}

.hero .thread {
    position: absolute;
    overflow: visible;
    z-index: 1;
}

.thread.first {
    left: -172px;
    top: -32px;
}

.thread.second {
    transform: rotate(175.95deg);
    right: 46px;
    bottom: -145px;
}

.hero__image-underlay {
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    margin-bottom: 4px;
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: -1;
}

.hero__img-wrapper {
    display: flex;
    column-gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    transform: translateY(77px);
}

/* !================== company section =================== */
.company {
    margin-top: 42px;
}

.company__discord-agworld {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.company__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 77px 121px;
    border-radius: 100.5px;
    background: var(--secondary-color-light-green, #e2eddf);
}

/* !================== services section =================== */
.services {
    margin-top: 106px;
}

.services__header {
    display: flex;
}

.services__title {
    line-height: 1.63;
    padding-left: 46px;
    position: relative;
}

.services__title::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black, #152427);
    position: absolute;
    left: 0;
    top: 9px;
}

.services__heading {
    margin-top: 12px;
    max-width: 520px;
}

.services__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color-black, #152427);
    position: relative;
    top: -8px;
    left: 9px;
}

.navigation-arrows {
    display: flex;
    column-gap: 17px;
    margin-top: 79px;
    margin-left: 442px;
}

.navigation-arrows__circle {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: var(--secondary-color-light-green);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

.navigation-arrows__circle:hover svg path {
    stroke: #fff;
    transition: 0.4s ease;
}

.navigation-arrows__circle:hover {
    background-color: var(--primary-color-black-green, #143c3c);
}

.services__list {
    margin-top: 76px;
    display: flex;
    column-gap: 16px;
}

.services-item {
    width: calc((100% - 60px) / 3);
    border-radius: 20px;
    background: #fff;
    transition: 0.3s ease;
}

.services-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services-item__img {
    width: 100%;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.services-item__info {
    padding: 24px 18px;
}

.services-item__title {
    display: inline-block;
}

.services-item__desc {
    margin-top: 18px;
}

/* !================== services section =================== */
.about-us {
    margin-top: 157px;
}

.about-us__container {
    display: flex;
    justify-content: space-between;
}

.about-us__img-block {
    width: 51.9%;
    position: relative;
}

.about-us__img-wrapper {
    height: 557px;
    position: relative;
}

.about-us__img {
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    position: absolute;
}

.about-us__img.first {
    width: 284px;
    left: 0;
    bottom: 0;
}

.about-us__img.second {
    width: 286px;
    right: 0;
    top: 0;
}

/* !===== floating card ===== */
.floating-card {
    width: 143px;
    font-family: "Public Sans";
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    position: absolute;
    bottom: 8px;
    right: -9px;
}

.floating-card__above-block {
    padding: 19px 23px 0;
}

.floating-card__title {
    color: var(--primary-color-black, #152427);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.floating-card__desc {
    margin-top: 6px;
    opacity: 0.4;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1rem;
    line-height: 1.4;
}

.floating-card__percentage {
    margin-top: 10px;
    color: var(--primary-color-black, #152427);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.floating-card__progress-bar {
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
    position: relative;
}

.floating-card__progress {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
    position: absolute;
    left: 0;
}

.floating-card__loading {
    margin-top: 3px;
    text-align: end;
    display: block;
    color: var(--primary-color-black, #152427);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.floating-card__circle {
    margin-top: 3px;
    margin-left: 19px;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-card__inner-circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color-black-green, #143c3c);
}

.floating-card__row {
    padding: 4px 17px 11px;
    display: flex;
    align-items: center;
}

.floating-card__text {
    color: var(--primary-color-black, #152427);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.floating-card__avatar-wrapper {
    display: flex;
    margin-left: auto;
}

.floating-card__avatar {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    object-fit: cover;
}

.floating-card__avatar + .floating-card__avatar {
    margin-left: -6px;
}

/* ! flower  */
.about-us .thread {
    position: absolute;
    top: 15px;
    left: 50px;
    z-index: 1;
    transform: rotate(12.645deg);
    overflow: visible;
}

/* !===== text block ===== */
.about-us__text-block {
    width: 42.6%;
}

.about-us__title {
    margin-bottom: 20px;
    padding-left: 46px;
    position: relative;
}

.about-us__title::before {
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black, #152427);
    position: absolute;
    left: 0;
    top: 9px;
}

.about-us__desc {
    margin-top: 11px;
    margin-bottom: 36px;
}

.about-us__row {
    display: flex;
    column-gap: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about-us__row:last-child {
    margin-top: 38px;
}

.about-us__percentage {
    color: var(--primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

/* !================== progress section =================== */
.progress {
    margin-top: 79px;
    margin-bottom: 100px;
    display: flex;
}

.progress__container {
    position: relative;
}

.progress__title {
    margin-top: 36px;
    padding-left: 53px;
    position: relative;
}

.progress__title::before {
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black, #152427);
    position: absolute;
    left: 7px;
    top: 9px;
}

.progress__heading {
    margin-top: 20px;
    margin-bottom: 81px;
    max-width: 477px;
    position: relative;
}

.progress__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color-black, #152427);
    position: relative;
    top: -8px;
    left: 9px;
}

.progress__img-wrapper {
    position: absolute;
    right: 92px;
    top: 0;
    z-index: 1;
}

.progress-item {
    width: 100%;
    min-height: 185px;
    padding: 40px 30px 41px 40px;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.4s ease;
}

.progress-item::after {
    content: "";
    height: 3px;
    width: 1050px;
    border-radius: 1px;
    background: var(--secondary-color-light-green, #e2eddf);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.progress-item:hover {
    border-radius: 33px;
    background: var(--secondary-color-light-green, #e2eddf);
}

.progress-item:hover .progress-item__link {
    visibility: visible;
}

.progress-item__number {
    width: 109px;
    color: var(--primary-color-black-green, #143c3c);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
}

.progress-item__column {
    margin-top: 32px;
    margin-left: 64px;
    display: flex;
    flex-direction: column;
}

.progress-item__link {
    margin-top: 22px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: underline;
    text-underline-offset: 3px;
    visibility: hidden;
    transition: 0.05s ease;
}

.progress-item__desc {
    margin-left: auto;
    max-width: 572px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

/* !================== projects section =================== */
.projects {
    margin-top: 148px;
    background: var(--primary-color-black-green, #143c3c);
}

.projects__header {
    display: flex;
    justify-content: space-between;
}

.projects__heading {
    margin-top: 116px;
    max-width: 457px;
    color: #e7f9f9;
}

.projects__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--secondary-color-blue, #83a17d);
    position: relative;
    top: -8px;
    left: 9px;
}

.projects__desc {
    margin-top: 127px;
    max-width: 590px;
    color: var(--secondary-color-gray, #6a8383);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.projects__cta-block {
    margin-top: 13px;
    display: flex;
    align-items: center;
    column-gap: 26px;
}

.projects__cta-desc {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.projects__cta {
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__cta:hover {
    background-color: var(--secondary-color-gray, #6a8383);
}

.projects__cta:hover svg path {
    stroke: #fff;
}
